`# Modules and libraries
node_modules/

# Data folder
data/

# Java backupfiles
*.java~

# Compiler output
*.class

# Log files
log.txt

# Credentials file
PopulateDB/login.txt
oracle/login.txt

# Emacs autosave/recover
*~
*#
.#*

# Mac OS
.DS_Store

# Scratch file
scratch.txt

# Secrets file
secrets.js
build/