.inline button {
  display: block;
  float: left;
}

.inline p {
  display: block;
  float: left;
}

.glyphicon-cutlery {
  margin-top: 0.4em;
  font-size: 0.8em;
  margin-right: 0.7em
}

.glyphicon-ok {
  margin-top: 0.2em;
  margin-right: 0.5em;
}

.inline-glyph {
  margin-bottom: 0px;
  vertical-align: top;
  font-weight: 500;
  font-size: 1.1em;
}

.slim-row {
  margin-bottom: 0em;
  padding-bottom: 0em;
}

.smooth-link {
  color: inherit;
  cursor: pointer;
}

.success-bar {
  background-color: #99EE88;
  text-align: center;
  border-radius: 5px;
}

.slim-label {
  font-weight: 500;
}

.header-offset {
  padding-left: 2.7em;
}
