.inline button {
  display: block;
  float: left;
}

.inline p {
  display: block;
  float: left;
}

.glyphicon-cutlery {
  margin-top: 0.4em;
  font-size: 0.8em;
  margin-right: 0.7em
}

.inline-glyph {
  margin-bottom: 0px;
  vertical-align: top;
  font-weight: 500;
  font-size: 1.1em;
}

.slim-row {
  margin-bottom: 0em;
  padding-bottom: 0em;
}

.smooth-link {
  color: inherit;
  cursor: pointer;
}
