html
  head
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  div(class="background-image")
  style body {background-image:url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-18.jpg');
  body
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li.active
              a(href='#') Account
                
    br
    br
    br
    br
    div.container
      div.row
        div.col-md-12
          div.jumbotron(style="background-color:#fff")
            div.page-header
              h1 Account Details
                small   courtesy of facebook
            p ID: #{user.id}
            p Name: #{user.displayName}
            br
            h3 Your friends who use itinerary:
            div
              table.table.table-striped
                thead
                tbody
                  each friend in friends
                    tr
                      td #{friend.name}
                      td #{friend.id}
                   
