h1 Itinerary App
div
  form(action='/home', method='post')
    div
      input(type='text', value='', name='query')
    div
      input(type='submit', value='Submit', data-trasition='fade', data_theme='c')
div
  p #{out}
